.container {
    display:flex;
    justify-content: center;
   
    
}

.calculator{
    display:flex;
    border: 3px solid rgb(184, 205, 212);
    background-color: rgb(184, 205, 212);
    padding: 40px;
    flex-direction: column;



}

.numbox {
    display: flex;
    border: 3px solid rgb(247, 102, 50);
    background-color: rgb(247, 102, 50);
    flex-direction: column;
    justify-content: center;
      
}

.result {
    display: flex;
    border: 6px solid rgb(247, 102, 50);
    background-color:  lightblue;
    color: darkblue;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 10px;

     
}

.clear{
    display: flex;
    margin-top: 10px; 
    justify-content: space-between;
}

.row{
    display: flex;
}

.num, .cl{
    display: flex;
    background-color: lightblue;
    color:darkblue;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
       
    
}

.num{
    padding: 16px;
    border: 3px solid rgb(247, 102, 50);
}

.cl{
    padding: 10px;
    border: 6px solid rgb(247, 102, 50);
}

