.container {
    display:flex;
    justify-content: center;    
}

button{
    background-color:  lightblue; 
    color: darkblue;
    font-size: 20px;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    border: 2px solid rgb(247, 102, 50);
}

button:hover, #cl:hover, #del:hover{
    border-color: darkblue;
}

.calculator{
    display:flex;
    border: 3px solid rgb(184, 205, 212);
    background-color: rgb(184, 205, 212);
    padding: 40px;
    flex-direction: column;
}

.numbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(247, 102, 50);
   
}

p{
    display: flex;
}

#result {
    display: flex;
    border: 4px solid rgb(247, 102, 50);
    background-color:  lightblue;
    color: darkblue;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;     
}

.clear{
    display: flex;
    margin-top: 10px; 
    background-color:  rgb(184, 205, 212);
    border: 2px solid rgb(247, 102, 50);    
}

#cl, #del{
    border: 2px solid rgb(247, 102, 50);
    padding: 10px;
    flex: 1;
}

.row{
    display: flex;
}